html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

h1 {
  font-weight: normal;
}

.frame {
  background-color: #eee;
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.frame > * {
  position: absolute;
}

.page {
  box-sizing: border-box;
  display: none;
  padding: 20px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.page-default .page.default,
.page-step .page.step,
.page-finish .page.finish {
  display: block;
}
